netCodigo/Business/Web References/buscarPdf/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscaFacturasXVin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaFacturasXVinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscaFacturasXVinResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Documento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pdf" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="arrFacturas" type="tns:ArrayOfBase64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeresultado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="MuestraFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RFCEMISOR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RFCRECEPTOR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SERIE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FOLIO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MuestraFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MuestraFacturaResult" type="tns:Documento" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscaFacturasXVinSoapIn">
    <wsdl:part name="parameters" element="tns:BuscaFacturasXVin" />
  </wsdl:message>
  <wsdl:message name="BuscaFacturasXVinSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaFacturasXVinResponse" />
  </wsdl:message>
  <wsdl:message name="MuestraFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:MuestraFactura" />
  </wsdl:message>
  <wsdl:message name="MuestraFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:MuestraFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="BuscaFacturasXVin">
      <wsdl:input message="tns:BuscaFacturasXVinSoapIn" />
      <wsdl:output message="tns:BuscaFacturasXVinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MuestraFactura">
      <wsdl:input message="tns:MuestraFacturaSoapIn" />
      <wsdl:output message="tns:MuestraFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscaFacturasXVin">
      <soap:operation soapAction="http://tempuri.org/BuscaFacturasXVin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuestraFactura">
      <soap:operation soapAction="http://tempuri.org/MuestraFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscaFacturasXVin">
      <soap12:operation soapAction="http://tempuri.org/BuscaFacturasXVin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MuestraFactura">
      <soap12:operation soapAction="http://tempuri.org/MuestraFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.20.9:8095/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.20.9:8095/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>